---
title: Home
layout: layouts/home.njk
tags:
- nav
navtitle: Home
---
<div class="page__hero">
  <div class="wrapper">
    <img src="_lib/images/fc-profile.jpg"/>
    <h1>Hello! I'm Joel</h1>
    <p>I’m a passionate front end web developer from Melbourne, Australia – currently working at <a
        href="https://raak.com.au" target="_blank">Raak</a>.</p>
    <a href="https://twitter.com/Joel_Krause?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-dnt="true"
      data-show-count="false" data-size="large">Follow @Joel_Krause</a>
  </div>
</div>
<div class="wrapper">
  <h1>Latest Posts</h1>
  {% set postslist = collections.posts | head(-5) %}
  {% include "postslist.njk" %}
</div>