---
title: Home
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---
<div class="page__hero">
  <div class="wrapper">
    <h1>Hello! I'm Joel</h1>
    <p>I’m a passionate front end web developer from Melbourne, Australia – currently working at <a
        href="https://raak.com.au" target="_blank">Raak</a>.</p>
  </div>
</div>
<div class="wrapper">
  <h1>Latest Posts</h1>
  {% set postslist = collections.posts | head(-5) %}
  {% include "postslist.njk" %}
</div>