body,
html {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  margin: 0;
  padding: 0;
}

body {
  background: var(--mainColor);
  color: var(--lightColor);
}

.wrapper {
  padding: 0 1rem;

  @include breakpoint(up, lg) {
    margin: 0 auto;
    width: 45vw;
  }
}

[data-animate] {
  opacity: 0;
  transform: translateY(150px);
}

// pre {
//   background: #000;
//   padding: .5rem;
//   border-radius: 5px;

//   @include breakpoint(up, lg) {
//     width: calc(100% + 15vw);
//     margin-left: -7.5vw;
//   }
// }
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

svg {
  &.accent__blob {
    position: absolute;
    z-index: -1;
  }
}

.page__hero {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 100px 0 5vw;

  @include breakpoint(up, xl) {
    padding: 0;
    min-height: 75vh;
  }

  .blog & {
    @include breakpoint(down, lg) {
      height: 50vh;
    }
  }

  img {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    margin: 0 0 50px;
  }

  .single-post & {
    // text-align: center;

    .post__icon {
      margin: 0 0 25px;

      svg {
        width: 30px;
      }
    }
  }

  input {
    appearance: none;
    border: 1px solid #333;
    width: 100%;
    appearance: none;
    background: var(--mainColor);
    padding: .5rem .5rem .35rem;
    border-radius: 3px;
    color: var(--lightColor);
  }
}

a {
  &.button {
    display: inline-block;
    border: 1px solid var(--lightColor);
    color: var(--lightColor);
    height: auto;
    padding: .75rem .5rem .5rem;
    font-size: 0.75em;
    line-height: 1;
    text-decoration: none;
    border-radius: 3px;
  }
}
