$primary_color:#333;
$secondary_color:#0000ff;

:root {
  --mainColor: #111;
  --lightColor: #ffffff;
  --lightAccentColor: #f9f9f9;

  --mainFont: 'Inter', 'Arial', 'Helvetica', sans-serif;
  --accentFont: 'Inter', 'Arial', 'Helvetica', sans-serif;
}
